autograder-artifacts-sp25.160.tja.io {
    handle /uploads/* {
        root * /data
        file_server
        header Content-Security-Policy "sandbox allow-downloads allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-presentation allow-scripts"

        @tracePath {
            path /uploads/*/trace/**/* /uploads/*/trace/*
        }
        header @tracePath Access-Control-Allow-Origin "*"
        header @tracePath Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
        header @tracePath Access-Control-Allow-Headers "Content-Type, Authorization"
    }

    handle {
        reverse_proxy flask:5000
    }
}
