autograder-artifacts-sp25.160.tja.io {
    handle /uploads/* {
        root * /data
        file_server
        header Content-Security-Policy "sandbox allow-downloads allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-presentation allow-scripts"
    }

    handle {
        reverse_proxy flask:5000
    }
}
